.game-container{
    height: 100vh;
    margin: auto;
    width: 100vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0px;
    top: 0px;
}

.game-box{
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
    width: calc(100% - 128px);
    height: calc(100% - 128px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    animation: box-width .5s cubic-bezier(.23,.53,.69,.88), box-height .5s cubic-bezier(.46,.05,.59,.82);
    transition: background-color 0.75s ease-in-out;
    overflow: hidden;
}

.game-button-start{
    background-color: black;
    border-radius: 18px;
    color: white;
    border: none;
    font-size: 16px;
    padding: 8px 24px;
    cursor: pointer;
}


@keyframes panel-close {
    from {top: 0px; opacity: 100%;}
    to {top: -25px; opacity: 0%;}
}

.game-panel-hide{
    opacity: 100%;
    position: relative;
    animation: panel-close 0.75s linear forwards;
}


@media(max-width: 768px){
    .game-leave{ top: 1rem; left: 1rem;  }
    .game-container {position: fixed; width: 100vw; height: 100vh;}
    .game-box{ padding: 16px; border-radius: 0px; margin: 0px; height: calc(100% - 32px); width: calc(100% - 32px); }
}